<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kadr.Properties.Settings.kadrConnectionString" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString2" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString1" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString3" connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrRealTestConnectionString"
            connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=KadrRealTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
