<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISGBCore.Properties.Settings.ISGBDBConnectionString"
            connectionString="Data Source=APG;Initial Catalog=ISGBDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISGB.Properties.Settings.ISGBDBConnectionString" connectionString="Data Source=isbpdc;Initial Catalog=ISGBDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ISGB.Properties.Settings.ISGBDBConnectionString"
            connectionString="Data Source=isbpdc;Initial Catalog=ISGBDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>