<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kadr.Properties.Settings.kadrConnectionString" connectionString="Data Source=LAB-5;Initial Catalog=kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString1" connectionString="Data Source=db-srv1.ist.ugtu.net\testlab;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kadr.Properties.Settings.KadrConnectionString2" connectionString="Data Source=DB-SRV1.ist.ugtu.net\TESTLAB;Initial Catalog=Kadr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>