<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.KadrConnectionString2"
            connectionString="Data Source=ugtudb.ugtu.net;Initial Catalog=Kadr;Integrated Security=True;Connect Timeout=1500000000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>